@media screen and (min-width: $breakLarge) {
	
	// style text
	.portfolio-title {
		font-family: 'San Francisco Bold';
		font-size: 4em;
		// padding-left: 7%;
		margin-bottom: 24px;
		margin-top: 40px;

	}
	.portfolio-info {
		font-family: 'San Francisco Medium';
	}

	// flex the container, so the text is on the left and the photo is on the right
	.portfolio-container {
		display: flex;
	}

	.left-text {
		flex: 70%;
	}


}
